.isro{
    font-size: 20px;
    margin: 30px;
    position: relative;
}



ul{
    position: relative;
    top: 10px;
}
 ul li{
    list-style: circle;
   margin: 30px;
}
.head{
    margin: auto;
    text-align: center;
    color:#b8a33a;
}::-ms-clear
.quote{
    font-size: 30px;
    position: relative;
    top: 50px;
    text-align: center;
}


.flex{
    display: flex;
}

@media (min-width:620) and(max-width: 978px)  {
   
    .isro h1{
        font-size: 30px;
    }
}

@media (max-width: 620px) {
    .isro h1{
        padding: 3px;
        margin: 5px;
        font-size: 25px;
    }

    .isro  ul li{
        font-size: 15px;
    }
}



