.top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info  h4{
    color:  #efd96b;
}

#first1{
    font-size: 25px;
    margin-bottom: 60px;
    margin-left: 36%;
}
.info{
    margin: 10px;
}

.Sata{
    margin-left: 20px;
}

.Sata h4{
    margin: 5px;
    color:  #efd96b;
}

.Sata h3{
    color: blueviolet;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 30px;
}

.name{
    display: flex;
    justify-content: center;
    align-items: center;
}

.name info{
   width: 70%;
}

.pi{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.famous h4{
    font-size: 20px;
    color: aqua;
}

.famous h3{
    font-size: 15px;
}
.highlight {
    font-weight: bold; /* Makes the text bold */
    color: #ff5722; /* Adds a highlight color (adjust as needed) */
  }
  
  .fam{
    margin: 5px;
  }

@media (max-width: 950px) {
    .name{
        flex-direction: column;
    }

    #first1{
        margin-left: 20%;
    }
}

@media  (max-width: 450px){
    .Sata{
        margin-left: 90px;
    }
}
